* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#logoPic {
    height: 40px;
    width: 40px;
}

#title {
    flex-grow: 1;
    text-align: center;
}

.wrapper {
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 70%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    margin-bottom: 8px;
}

select, input[type="text"], input[type="email"], textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
    }

input[type="color"] {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    height: 40px;
    width: 10%;
}


fieldset {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.radioOptions {
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

input[type="radio"] {
    margin-inline-start: 20px;
}

textarea {
    height: 200px;
}

input[type="checkbox"] {
    margin-block-start: 15px;
}

#process {
    height: 40px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#process:hover {
    background-color: #2980b9;
}
